<IfModule mod_headers.c>

<FilesMatch "\\.(ico|jpe?g|png|gif|swf)$">
Header set Cache-Control "max-age=3600000, public"
</FilesMatch>

<FilesMatch "\\.(css)$">
Header set Cache-Control "max-age=3600000, public"
</FilesMatch>

<FilesMatch "\\.(js)$">
Header set Cache-Control "max-age=3600000, private"
</FilesMatch>

</IfModule>
